.infoCard {
    position: relative;
    text-align:left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 4px;
    background: transparent;
    border: none;
    background: #F7F7F7;
    filter: brightness(100%) blur(0.1px) contrast(100%);
    border-radius: 32px;
    font-family: "Open Sans";
    font-size: 12px;
    color: #535455;
    padding: 30px;
    padding-top: 2px;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    
}