.Login {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
.notValid{
    color: #D8000C;
}
.notShow{
    display: none;
}


@media (min-width: 600px) {
    .Login {
        width: 500px;
    }
}