.resultBox {
    position: relative;
    text-align:left;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 4px;
    background: transparent;
    border: none;
    background: rgba(218, 242, 253, 0.8);
    filter: brightness(100%) blur(0.1px) contrast(100%);
    border-radius: 12px;
    font-family: "Open Sans";
    font-size: 12px;
    color: rgb(2, 70, 116);
    padding: 30px;
    padding-top: 2px;
    height: 100%;
    
}
.mainBoxResult{
    position: relative;
    text-align:left;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: -21px;
    
}

.mainHeaderResult {
    font-family: "Open Sans";
    font-size: 40px;
    margin-right: 1em;
    color: rgb(2, 70, 116);
    filter:  blur(0.27px) ;
    display: inline-block;
    cursor: pointer;
    
   
}

.mainInputResult {
    height: 3.5em;
    width: 65%;
    margin: 0 auto;
    padding: 0 19px 0 19px;
    position: relative;
    
    background: transparent;
    border: none;
    background: rgba(218, 242, 253, 0.8);
    filter: brightness(100%) blur(0.25px) contrast(100%);
    border-radius: 31px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #8f8fa1;
    line-height: 1.2;
    display: inline-block;
}
